body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}
.header {
  background-color: black;
  height: 120px;
  display: flex;
  align-items: center;
}
.header p{
  margin: 0;
  float: right;
  position: relative;
  right: -50%;
}
.header h1{
  text-shadow: 1px 1px 2px black;
  color: white;
}

h1, h2, h3, p{
  margin: 0;
  display: inline;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
.spacer {
  color: #808080;
}
.text {
  color: #808080;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav ul {
  margin-bottom: 0;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #808080;
}
.active {
    background-color: rgb(96, 103, 140);
}
a{
  font: 16px Tahoma, Geneva, sans-serif;
}
.marquee {
  margin: 0;
  width: 100%;
  line-height: 20px;
  background-color: red;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee h3 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 30s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
.top{
  background-color: cyan;
  border: 2px solid black;
}
.left-column {
float:left;
width:30%;
background-color:red;
}
.right-column {
float:right;
width:30%;
background-color:green;
}
.center-column {
margin:auto;
width:30%;
background-color:blue;
}
.center-column, .right-column, .left-column{
  border: 2px dashed black;
  text-align: center;
}
